*{
    margin: 0;
    padding: 0;
}

h1, h2, #palavra, #letras-erradas {
    font-family: Verdana, sans-serif;
    text-align: center;
}

body{
    background-color: #666666;
    align-items: center; 
    text-align: center;
}

/*fontes*/
h1{
    color: #cdcdcd;
    font-size: 50px;
}

h2{
    color: #cdcdcd;
    font-size: 40px;
}

#palavra{
    color: #cdcdcd;
    font-size: 40px;
}

#letras-erradas{
    color: #b4b4b4;
    font-size: 25px;
}

/*Separa o jogo em duas colunas*/
#jogo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center;
    align-items: center;
}

/*Area Direita*/
.area{
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px;
    height: 50px;
    width: 3rem;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
    border: none;
    font-size: 16px;
    color: #cdcdcd;
    transition: 500ms;
}

button:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
    color: #4f4f4f;
    transition: 500ms;
}


/*Area Esquera*/